<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
  <nav class="navbar  navbar-fixed-top {{class_name}}">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="http://codebuddy.in/blog" target="_blank" title="Blog">Blog</a></li>
          <li><a href="./works.html" title="Works">Works</a></li>
          <li><a href="./about.html" title="About">About</a></li>
          <li><a href="./contact.html" title="Contact">Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>