<!DOCTYPE html>
<html lang="en">

{% include 'common/head.html' %}

<body class="">

  {% include 'common/header.html' %}

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h2>Introduction</h2>
                  <p>
                    I am a web developer with experise in frontend and backend technologies.
                    I love anime and scifi series.
                  </p>
                  <h3>My Skills</h3>
                  <pre id="beautified"></pre>
                  <script>
                    const myData = { "frontEnd": ["JavaScript", "Angular 2+", "Reactjs"], "backEnd": ["Node.js", "Python", "PHP"], "databases": ["PostgreSQL", "MySQL", "MongoDB", "SQLite"], "mobileTechnology": ["Android", "React Native"] }
                    document.getElementById("beautified").innerHTML = JSON.stringify(myData, undefined, 2);
                  </script>
                  <h3>More About Me</h3>
                  <p>
                    I'm highly energetic and motivated person. I love to work as a member or a leader of a team. I
                    enjoy working with changing projects and taking them forward with rapid pace but high
                    precision.
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="https://avatars.githubusercontent.com/u/2951356?v=4" class="img-responsive" alt="Aniruddha Mahamuni">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'common/footer.html' %}

  {% include 'common/scripts.html' %}

</body>

</html>