<!DOCTYPE html>
<html lang="en">

{% include 'common/head.html' %}

<body class="minimal">

{% include 'common/header.html' %}
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Aniruddha Mahamuni</span>
                  <span>Python expert</span>
                  <span>Working as a Solution Architect</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'common/scripts.html' %}

</body>

</html>